package model

import (
    "gorm.io/gorm"
    "time"
)

type {{ .FileName }} struct {
    ID uint `gorm:"primarykey"`
    {{ range $propName, $propType := .Properties }}
    {{ $propName }} {{ $propType }} `gorm:"column:{{ $propName }}"`{{ end }}
    CreatedAt time.Time `gorm:"column:CreatedAt"`
    UpdatedAt time.Time `gorm:"column:UpdatedAt"`
    DeletedAt gorm.DeletedAt `gorm:"column:DeletedAt"`
}

func (m *{{ .FileName }}) TableName() string {
    return "{{ .FileNameTitleLower }}"
}