package model

import (
    "gorm.io/gorm"
    "time"
)

type {{ .FileName }} struct {
        ID        uint   `gorm:"primarykey"`
    {{ range $propName, $propType := .Properties }} 
        {{ $propName }} {{ $propType }} {{ end }}
        CreatedAt time.Time
        UpdatedAt time.Time
        DeletedAt gorm.DeletedAt `gorm:"index"`
}

func (m *{{ .FileName }}) TableName() string {
    return "{{ .FileNameTitleLower }}"
}
