package model

import (
	"gorm.io/gorm"
	"time"
)

type {{ .StructName }} struct {
	ID uint `gorm:"primarykey"`
{{ range $name, $type := .Properties }}	{{ $name }} {{ $type }}
{{ end }}	CreatedAt time.Time
	UpdatedAt time.Time
	DeletedAt gorm.DeletedAt `gorm:"index"`
}

func (m *{{ .StructName }}) TableName() string {
	return "{{ .StructNameSnakeCase }}"
}
