package repository

import (
    "{{ .ProjectName }}/source/model"
    "github.com/pkg/errors"
)

type {{ .FileName }}Repository interface {
    Get{{ .FileName }}ById(id uint) (*model.{{ .FileName }}, error)
    GetAll{{ .FileName }}() (*[]model.{{ .FileName }}, error)
    Create{{ .FileName }}({{.FileNameTitleLower}} *model.{{.FileName}}) (uint, error)
    Update{{ .FileName }}({{.FileNameTitleLower}} *model.{{.FileName}}) (uint, error)
    Delete{{ .FileName }}(id uint) (uint, error)
}

type {{ .FileNameTitleLower }}Repository struct {
    *Repository
}

func New{{ .FileName }}Repository(repository *Repository) {{ .FileName }}Repository {
    return &{{ .FileNameTitleLower }}Repository{
         Repository: repository,
    }
}

func (r *{{ .FileNameTitleLower }}Repository) GetAll{{ .FileName }}() (*[]model.{{ .FileName }}, error) {
    var {{ .FileNameTitleLower }} []model.{{ .FileName }}

    if err := r.db.Find(&{{ .FileNameTitleLower }}).Error; err != nil {
        return nil, errors.Wrap(err, "failed to get all users")
    }

    return &{{ .FileNameTitleLower }}, nil
}


func (r *{{ .FileNameTitleLower }}Repository) Get{{ .FileName }}ById(id uint) (*model.{{ .FileName }}, error) {
    var {{ .FileNameTitleLower }} model.{{ .FileName }}

    if err := r.db.Where("id = ?", id).First(&{{ .FileNameTitleLower }}).Error; err != nil {
        return nil, errors.Wrap(err, "failed to get user by ID")
    }

    return &{{ .FileNameTitleLower }}, nil
}

func (r *{{ .FileNameTitleLower }}Repository) Create{{ .FileName }}({{.FileNameTitleLower}} *model.{{ .FileName }}) (uint, error) {
    if err := r.db.Create({{.FileNameTitleLower}}).Error; err != nil {
        return 0, errors.Wrap(err, "failed to create user")
    }
    
    return {{.FileNameTitleLower}}.ID, nil
}

func (r *{{ .FileNameTitleLower }}Repository) Update{{ .FileName }}({{.FileNameTitleLower}} *model.{{.FileName}}) (uint, error) {
    if err := r.db.Save({{.FileNameTitleLower}}).Error; err != nil {
         return {{.FileNameTitleLower}}.ID, errors.Wrap(err, "failed to update user")
    }

    return {{.FileNameTitleLower}}.ID, nil
}

func (r *{{ .FileNameTitleLower }}Repository) Delete{{ .FileName }}(id uint) (uint, error) {
    if err := r.db.Delete(&model.{{ .FileName }}{}, id).Error; err != nil {
        return id, errors.Wrap(err, "failed to delete user")
    }

    return id, nil
}
