package routes

import (
"{{ .ProjectName }}/pkg/logger"
"{{ .ProjectName }}/source/handler"
"{{ .ProjectName }}/source/handler"
"{{ .ProjectName }}/source/middleware"
"github.com/gin-gonic/gin"
)

func Bind{{.FileName}}Routes(router *gin.Engine, jwt *middleware.JWT, {{.FileNameTitleLower}}Handler handler.{{.FileName}}Handler, log *logger.Logger) {
    r := router.Group("/{{.FileNameTitleLower}}")

    r.GET("/", func(ctx *gin.Context) {
        resp.HandleSuccess(ctx, map[string]any{
            "say": "Health check {{.FileNameTitleLower}}",
        })
    })

}
